{% extends "layouts/base.html" %}
{% block page %}
<div class="hero" style="background-image: url(/assets/images/hero--home.jpg)">
	<div class="content-wrap">
		{% block hero %}
			<h1>{{ page.title }}</h1>
		{% endblock %}
	</div>
</div>

<div class="page-body">
	<div class="content-wrap">
		{% block header %}{% endblock %}

		<div class="page-body__inner">
			<main class="page-body__primary">
				{% block content %}
					{{ page.html }}
				{% endblock %}
			</main>
			<aside class="page-body__secondary">{% block aside %}{% endblock %}</aside>
		</div>
	</div>
</div>
{% endblock %}