{% extends "layouts/base.html" %}

{% block page %}
<img class="prefetch" src="{{ assets }}/images/{{ page.metadata.hero if page.metadata.hero else 'hero--default.jpg' }}" alt />
<div class="hero {{ hero_style }}" style="background-image: url({{ assets }}/images/{{ page.metadata.hero if page.metadata.hero else 'hero--default.jpg' }})">
	<div class="content-wrap">
		<div class="logo-header">
			<span class="logo-header__icon">
				<img src="{{ assets }}/images/{{ page.metadata.logo }}" alt="{{ page.metadata.title }} Logo" />
			</span>
			<div class="logo-header__text">
				<h1>{{ page.metadata.title }}</h1>
				<p>{{ page.metadata.tagline }}</p>
			</div>
		</div>
	</div>
</div>

{% if page.metadata.sections %}
	<div class="section-links panel">
		<div class="content-wrap">
			<ul class="section-links__inner inline-list">
				{% for section in page.metadata.sections|split(', ') %}
					<li><a href="#{{ section | id }}">{{ section }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endif %}

<div class="page-body">
	<div class="content-wrap">
		{% block header %}{% endblock %}

		<div class="page-body__inner">
			<main class="page-body__primary">
				{% block content %}
					<div class="markdown">
						{{ page.html }}
					</div>
				{% endblock %}
			</main>
			<aside class="page-body__secondary">{% block aside %}{% endblock %}</aside>
		</div>
	</div>
</div>
{% endblock %}
