body {
	font-family: $font-secondary;
	font-size: 1.4rem;
	line-height: 1.6;
	font-weight: 400;
	color: $body-text;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.4;
	margin: $pad-half 0;
	color: $body-heading;
}

h1 {
	margin: 0;
	font-weight: 300;
}

h2 {
	font-size: 2.7rem;
	margin: $pad*.75 0 $pad;

	@media (min-width: $bp-medium) {
		margin: $pad 0;
	}
}

h3 {
	font-size: 1.9rem;
	margin-top: 0;
}

.tagline {
	margin: -1em 0 1em;
	font-size: em(18);
}

p {
	margin: 0;

	+p {
		margin: $pad 0 0;
	}
}

a {
	color: $link;
	text-decoration: underline;
	transition: color .15s;

	&:hover {
		color: $link-hover;
	}
}

.prefetch {
	display: none;
}

.image-link {
	display: inline-block;

	&__image {
		display: block;
	}
}

%button {
	padding: .4em $pad;
	line-height: 1.5em;
	border-radius: 3px;
	font-size: inherit;
	font-weight: 600;
	font-family: $font-secondary;
	cursor: pointer;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;

	& + & {
		margin-left: $pad-half;
	}
}

.button--primary {
	@extend %button;
	background: $ui-primary;
	color: $ui-primary-text;
	border: $ui-primary-border;

	&:hover {
		color: $ui-primary-text;
		background: $ui-primary-highlight;
	}
}

.button--secondary {
	@extend %button;
	background: $ui-secondary;
	color: $ui-secondary-text;
	border: $ui-secondary-border;

	&:hover {
		color: $ui-secondary-text;
		background: $ui-secondary-highlight;
		border-color: $ui-secondary-highlight-border-color;
	}
}

.button--subtle {
	@extend %button;
	background: #8FA4AE;
	color: $ui-primary-text;
	box-shadow: 0 0 0 transparent;
	transition: box-shadow .2s;

	&:hover {
		color: $ui-primary-text;
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0px 4px rgba(0, 0, 0, 0.12);
	}
}

.button--hero {
	font-size: inherit;
}

.button--large {
	font-size: 1.1em;
	padding: $pad-half $pad-and-half;
}

.button--icon {
	@extend %button;
	display: inline-flex;
	align-items: center;
	box-sizing: content-box;
	height: 1.5em; // button's line-height
}

input {
	font-size: 1.4rem;
	padding: $pad-half;
	font-family: $font-secondary;
	color: inherit;
	border: $border-strong;
	-webkit-appearance: none;
	transition: border-color .15s;

	&:focus {
		border-color: inherit;
		outline: 0 none;
	}

	&[type="password"] {
		letter-spacing: .75px;
	}
}

label {
	color: $body-heading;
	text-transform: uppercase;
	margin-bottom: .2em;
}

.error {
	color: $error;
}

.panel {
	padding: $pad 0 0;
	margin-left: auto;
	margin-right: auto;

	@media (min-width: $bp-tiny) {
		padding: $pad-double;
		background: $gradient;
		border: $border;
		box-shadow: $shadow;
	}

	&--narrow {
		max-width: 30em;
	}
}

%clearfix {
	&::before,
	&::after {
		content: " ";
		display: table;
	}

	&::after {
		clear: both;
	}
}

.inline-list {
	margin: 0;

	> li {
		display: inline;
	}
}
