body {
	font-family: $font-secondary;
	font-size: 14px;
	line-height: 1.6;
	font-weight: 400;
	color: $body-text;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.4;
	margin: $pad-half 0;
	color: $body-heading;
}

h1 {
	margin: 0;
	font-weight: lighter;
}

h2 {
	font-size: 2.7rem;
	margin: $pad 0;
}

h3 {
	font-size: 1.9rem;
	margin-top: 0;
}

p {
	margin: 0;

	+p {
		margin: $pad 0 0;
	}
}

a {
	color: $link;
	transition: color .15s;

	&:hover {
		color: $link-hover;
	}
}

.prefetch {
	display: none;
}

.image-link {
	display: inline-block;

	&__image {
		display: block;
	}
}

%button {
	padding: .4em $pad;
	line-height: 1.5em;
	border-radius: 3px;
	font-weight: 600;
	font-family: $font-secondary;
	cursor: pointer;
	text-transform: uppercase;

	& + & {
		margin-left: $pad-half;
	}
}

.button--primary {
	@extend %button;
	background: $ui-primary;
	color: $ui-primary-text;
	border: $ui-primary-border;

	&:hover {
		background: $ui-primary-highlight;
	}
}

.button--secondary {
	@extend %button;
	background: $ui-secondary;
	color: $ui-secondary-text;
	border: $ui-secondary-border;

	&:hover {
		background: $ui-secondary-highlight;
		border-color: $ui-secondary-highlight-border-color;
	}
}

.button--hero {
	font-size: inherit;
}

.button--icon {
	@extend %button;
	line-height: 0.1;
}

%clearfix {
	&::before,
	&::after {
		content: " ";
		display: table;
	}

	&::after {
		clear: both;
	}
}
