.featured {
	&__title,
	&__text {
		font-weight: 300;
		// color: $featured-text;
		// color: $nav;
	}

	&__text {
		text-align: center;

		@media (min-width: $bp-medium) {
			text-align: left;
		}
	}

	&__preview {
		line-height: 1.4;
	}
}
