.site-footer {
	font-family: $font-primary;
	background: $gradient;
	border-top: $border;

	&__inner {
		font-size: 1.2rem;
	}

	&__info {
		> li + li {
			&::before {
				content: " · ";
			}
		}

		a {
			text-decoration: none;
		}
	}
}
