.site-header {
	background: $gradient;
	border-bottom: $border;
}

.logo {
	&__text {
		font-size: 2em;
		font-weight: 400;
		color: #666;

		strong {
			font-weight: 500;
		}
	}

	&__icon {
		color: #333;
	}
}