.hero {
	font-size: 1.8rem;
	// All the fallbacks
	background-color: $hero-bg;
	background-color: $hero-bg-wash;
	background-image: linear-gradient(to right, #333 0%, $brand 80%);
	background-image: radial-gradient(circle farthest-corner at right bottom, $brand 20%, #333 100%);
	color: white;
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);

	h1, h2 {
		color: inherit;
		font-size: 4.1rem;
		font-weight: 300;
		margin-bottom: .2em;

		em {
			color: lighten($brand, 5%);
			font-style: normal;
		}
	}

	h1, h2, p {
		line-height: 1.3;
	}

	&--poster {
		background-image: radial-gradient(circle farthest-corner at right bottom, $brand 10%, #8B152E 57%, #333 115%);

		@media (min-width: $bp-medium) {
			padding-top: 10%;
			padding-top: 10vw;
			padding-bottom: 15%;
			padding-bottom: 15vw;
		}

		& + & {
			border-top: 1px solid #333;
		}
	}

	&--with-video {
		background: $hero-bg;

		&::after {
			content: '';
			display: block;
			position: absolute;
			top: -$pad;
			left: -$pad;
			right: -$pad;
			bottom: -$pad;
			background: $hero-bg-wash;
		}
	}

	.page-body + & {
		border: $border-strong;
	}
}
