.hero {
	font-size: 1.8rem;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);

	&__well-padded {
		@media (min-width: $bp-medium) {
			padding: $pad*4 42.5% $pad*7 0;
		}
	}

	h1 {
		color: inherit;
		font-size: 4.1rem;
		margin-bottom: .2em;

		span {
			color: lighten($brand, 5%);
		}
	}

	h1, p {
		line-height: 1.3;
	}
}
