.press-list {
	background: $gradient-fallback;
	background: $gradient;
	border: $border-strong;
	border-radius: 3px;

	&__item {
		text-decoration: none;
	}

	&__icon--color {
		filter: saturate(0) brightness(0.75) contrast(200%);
		transition: filter .2s;
	}

	&__item:hover &__icon--color {
		filter: saturate(100%) brightness(1) contrast(100%);
	}

	> li + li {
		border-top: $border-strong;
	}
}
