.form-rows {
	margin: $pad-double 0 0;
}

.form-row {
	display: flex;
	flex-flow: column nowrap;

	& + & {
		margin-top: $pad;
	}

	&.with-cta {
		flex-flow: row nowrap;
		justify-content: flex-end;
	}

	&.with-postfix {
		flex-flow: row nowrap;

		input {
			flex-grow: 1;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-right: 0 none;
		}

		.postfix {
			flex-grow: 0;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
}

#{$no-flexbox} {
	.form-row {
		label,
		input {
			display: block;
			width: 100%;
		}

		&.with-cta {
			text-align: right;
		}
	}
}

.input-wrapper {
	position: relative;
	display: flex;

	input {
		flex-grow: 1;
	}

	&__action {
		position: absolute;
		right: $pad;
		top: 50%;
		transform: translateY(-50%);
	}
}
