.grid-list {
	display: flex;
	flex-flow: row wrap;
	margin: 0 $pad*-1;

	> li {
		padding: 0 $pad;
		margin-bottom: $pad*3;

		@media (min-width: $bp-small) {
			width: 50%;
		}
	}
}

@media (min-width: $bp-medium) {
	#{$no-flexbox} {
		.grid-list {
			> li {
				float: left;

				&:nth-child(odd) {
					clear: both;
				}
			}
		}

		// Leaving this for now, https://github.com/Modernizr/Modernizr/issues/1675
		/* &.no-nthchild .grid-list > li {
			float: none;
			width: 100%;
		} */
	}
}