.hero {
	padding: $pad-double $pad;
	margin-bottom: 0;
	background-position: 50% 33%;
	background-size: cover;
	background-repeat: no-repeat;

	@media (min-width: $bp-medium) {
		&__text-left {
			padding-right: 45%;
		}

		&__text-right {
			padding-left: 45%;
			text-align: right;
		}
	}

	&--top {
		background-position: 50% 15%;
	}

	#{$no-flexbox} & {
		@extend %clearfix;
	}

	&--with-video {
		position: relative;
		overflow: hidden;

		.content-wrap {
			position: relative;
			z-index: 9;
		}
	}

	&__video {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		min-width: 100%;
		min-height: 100%;
		transform: translateY(-50%) scale(1);
		-webkit-backface-visibility: hidden;

		&__fallback {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-position: 50% 50%;
			background-size: cover;
		}
	}
}
