.icon-header {
	display: flex;

	&__icon {
		margin-right: 1.4rem;
		color: $brand;

		svg,
		img {
			display: block;
		}

		.hero & {
			color: inherit;
		}
	}

	&__text {
		font-size: .75em;

		@media (min-width: $bp-tiny) {
			font-size: 1em;
		}
	}

	.hero & {
		align-items: center;
	}

	.centred & {
		justify-content: center;
	}
}

.logo-header {
	@extend .icon-header;
	flex-flow: column nowrap;

	&__icon {
		flex-shrink: 0;
		margin-bottom: $pad-half;

		svg,
		img {
			display: block;
		}
	}

	&__text {
		text-align: center;
	}

	@media (min-width: $bp-small) {
		flex-direction: row;

		&__icon {
			margin: 0 1.8rem 0 0;
		}

		&__text {
			text-align: left;
		}
	}

	& &__text h1 {
		margin-bottom: 0;
	}
}

#{$no-flexbox} {
	.icon-header,
	.logo-header {
		@extend %clearfix;

		&__icon {
			float: left;
		}
	}
}
