.icon-header {
	display: flex;

	&__icon {
		margin-right: 1.4rem;
		color: $brand;

		svg,
		img {
			display: block;
		}

		.hero & {
			color: inherit;
		}
	}

	.hero & {
		align-items: center;
	}
}

.logo-header {
	@extend .icon-header;

	&__icon {
		flex-shrink: 0;
		margin-right: 1.8rem;

		svg,
		img {
			display: block;
		}
	}

	& &__text h1 {
		margin-bottom: 0;
	}
}

#{$no-flexbox} {
	.icon-header {
		@extend %clearfix;

		&__icon {
			float: left;
		}
	}
}
