.icon-header {
	display: flex;

	&__icon {
		margin-right: 1.4rem;
		color: $brand;

		.hero & {
			color: inherit;
		}
	}

	.hero & {
		align-items: center;
	}
}

#{$no-flexbox} {
	.icon-header {
		@extend %clearfix;

		&__icon {
			float: left;
		}
	}
}
