.media-item {
	display: flex;
	align-items: center;
	padding: $pad;

	&__text {
		// needed for IE 10
		flex-shrink: 1;
	}

	&__icon,
	&__image {
		margin-right: $pad;
	}

	&__image {
		> img {
			display: block;
			max-width: 100%;
		}
	}

	&__title {
		margin: 0;
	}

	&__preview {

	}

	&--vertical {
		flex-direction: column;
		text-align: center;
	}

	&--vertical & {
		&__icon,
		&__image {
			margin: 0 0 $pad;
		}

		&__title {
			margin-bottom: $pad-half;
		}
	}

	#{$no-flexbox} & {
		display: block;
		text-align: left;
		@extend %clearfix;

		&__icon,
		&__image,
		&__text {
			display: block;
		}

		&__icon,
		&__image {
			float: left;
		}
	}
}

.media-group {
	margin-bottom: $pad-double;

	&__heading,
	&__listing {
		margin: 0;
	}

	&--condensed {
		margin: 0;
	}

	&--condensed & {
		&__list {
			margin: 0;
		}
	}
}