<!doctype html>
<html lang="en-GB">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<title>Big Wednesday IO</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png" />
		<link rel="favicon" href="favicon.ico" />
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,500,500italic,300,300italic">
		<!-- build:css /assets/css/site.css -->
		<link rel="stylesheet" href="/assets/css/app.css" />
		<!-- endbuild -->
	</head>
	<body>
		<header>
			<div class="site-header">
				<div class="content-wrap">
					<div class="logo">
						<a href="/" class="image-link logo__icon">
							<img src="//placekitten.com/g/44/44" height="44" width="44" class="image-link__image" alt />
						</a>
						<span class="logo__text">big<strong>wednesday</strong>io</span>
					</div>
				</div>
			</div>

			<div class="nav-bar">
				<div class="content-wrap">
					<div class="nav-bar__inner">
						<div class="nav-bar__actions">
							<button class="button--primary">Get started</button>
							<button class="button--secondary">Login</button>
							<button id="navicon" class="button--secondary button--icon nav-bar__menu-button">
								<svg width="15" height="15" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1664 1344v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45z" /></svg>
							</button>
						</div>

						<nav class="primary-navigation is-hidden">
							<a href="#">Why</a>
							<a href="#">Products</a>
							<a href="#">Industries</a>
								<a href="#">Pub Co</a>
								<a href="#">Retail</a>
							<a href="#">About</a>
						</nav>
					</div>
				</div>
			</div>
		</header>

		{% block hero %}
		{% endblock %}

		<main class="content-wrap">
			{% block content %}{% endblock %}
		</main>

		<script src="/assets/js/app.js"></script>
	</body>
</html>
