<footer class="site-footer">
	<div class="content-wrap">
		<div class="site-footer__inner">
			<div class="site-footer__info">
				<p>Big Wednesday IO</p>
			</div>
			<div class="site-footer__social">
				<a href="https://github.com/BigWednesdayIO/bigwednesday.io">
					<svg height="28" width="28" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<title>GitHub</title>
						<use xlink:href="#github" />
					</svg>
				</a>
			</div>
		</div>
	</div>
</footer>