<header>
	<div class="site-header">
		<div class="content-wrap">
			<div class="logo">
				<a href="/" class="image-link logo__icon">
					<!-- <svg height="38" width="38">
						<use xlink:href="#cube" />
					</svg> -->
					<img src="{{ assets }}/images/cube-logo-small.png" alt />
				</a>
				<span class="logo__text">bigwednesday<span>io</span></span>
			</div>
		</div>
	</div>

	<div class="nav-bar">
		<div class="content-wrap">
			<div class="nav-bar__inner">
				<div class="nav-bar__actions">
					<button class="button--primary">Get started</button>
					<a class="button--secondary" href="/login">Login</a>
					<button id="navicon" class="button--secondary button--icon nav-bar__menu-button">
						<svg width="15" height="15">
							<use xlink:href="#bars" />
						</svg>
					</button>
				</div>

				<nav class="primary-navigation collapsible is-hidden">
					<a href="/why"{% if page.metadata.section == 'why' %} class="active"{% endif %}><span>Why</span></a>
					<a href="/products" class="with-sub-nav" data-sub-nav="products"><span>Products</span></a>
					<a href="/solutions" class="with-sub-nav" data-sub-nav="solutions"><span>Solutions</span></a>
					<a href="/industries" class="with-sub-nav" data-sub-nav="industries"><span>Industries</span></a>
					<a href="/integration"><span>Integration</span></a>
					<a href="/about"><span>About</span></a>
				</nav>
			</div>
		</div>
	</div>

	<div id="sub-nav-products" class="sub-nav collapsible is-hidden">
		<div class="content-wrap">
			<div class="sub-nav__inner">
				<section class="sub-nav__section is-wide">
					<h2 class="sub-nav__heading">Management Apps</h2>
					<ul>
						<li><a href="/products/unified-admin-console">Unified Admin Console</a></li>
						<li><a href="/products/dashboard">Dashboard</a></li>
						<li><a href="/products/personalisation">Personalisation<!-- ed Experience and Guided Search --></a></li>
						<li><a href="/products/product">Product</a></li>
						<li><a href="/products/promote">Promote</a></li>
						<li><a href="/products/order">Order</a></li>
						<li><a href="/products/service">Service</a></li>
						<li><a href="/products/customer">Customer</a></li>
						<li><a href="/products/outlet">Outlet</a></li>
						<li><a href="/products/user">User</a></li>
						<li><a href="/products/report">Report</a></li>
					</ul>
				</section>
				<section class="sub-nav__section">
					<h2 class="sub-nav__heading">Services</h2>
					<ul>
						<li><a href="/products/import-api">Import API</a></li>
						<li><a href="/products/export-api">Export API</a></li>
						<li><a href="/products/rest-api">REST API</a></li>
					</ul>
				</section>
				<section class="sub-nav__section">
					<h2 class="sub-nav__heading">Big Data</h2>
					<ul>
						<li><a href="/products/customer-cloud">Customer Cloud</a></a></li>
					</ul>
				</section>
			</div>
		</div>
	</div>
	<div id="sub-nav-solutions" class="sub-nav collapsible is-hidden">
		<div class="content-wrap">
			<div class="sub-nav__inner">
				<section class="sub-nav__section">
					<h2 class="sub-nav__heading">Solutions</h2>
					<ul>
						<li><a href="/solutions/pub-buying-club">Pub Buying Club</a></li>
					</ul>
				</section>
			</div>
		</div>
	</div>
	<div id="sub-nav-industries" class="sub-nav collapsible is-hidden">
		<div class="content-wrap">
			<div class="sub-nav__inner">
				<section class="sub-nav__section">
					<h2 class="sub-nav__heading">Industries</h2>
					<ul>
						<li><a href="/industries/pub-companies"><span>Pub Companies</span></a></li>
						<li><a href="/industries/b2b"><span>B2B</span></a></li>
						<li><a href="/industries/retail"><span>Retail</span></a></li>
					</ul>
				</section>
			</div>
		</div>
	</div>
</header>
