<header>
	<div class="site-header">
		<div class="content-wrap">
			<div class="logo">
				<a href="/" class="image-link logo__icon">
					<img src="/assets/images/logo.svg" height="44" width="44" class="image-link__image" alt />
				</a>
				<span class="logo__text">big<strong>wednesday</strong>io</span>
			</div>
		</div>
	</div>

	<div class="nav-bar">
		<div class="content-wrap">
			<div class="nav-bar__inner">
				<div class="nav-bar__actions">
					<button class="button--primary">Get started</button>
					<button class="button--secondary">Login</button>
					<button id="navicon" class="button--secondary button--icon nav-bar__menu-button">
						<svg width="15" height="15" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1664 1344v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45z" /></svg>
					</button>
				</div>

				<nav class="primary-navigation collapsible is-hidden">
					<a href="/why"{% if page.metadata.section == 'why' %} class="active"{% endif %}><span>Why</span></a>
					<a href="/products" id="products-link" class="with-sub-nav"><span>Products</span></a>
					<a href="/industries"><span>Industries</span></a>
					<a href="/industries/pub-co"><span>Pub Co<span></a>
					<a href="/industries/retail"><span>Retail<span></a>
					<a href="/about"><span>About<span></a>
				</nav>
			</div>
		</div>
	</div>

	<div class="sub-nav collapsible is-hidden">
		<div class="content-wrap">
			<div class="sub-nav__inner">
				<section class="sub-nav__section">
					<h2 class="sub-nav__heading">Customer Apps</h2>
					<ul>
						<li><a href="/products/pub-buying-club">Pub Buying Club</a></li>
					</ul>
				</section>
				<section class="sub-nav__section">
					<h2 class="sub-nav__heading">Big Data</h2>
					<ul>
						<li><a href="/products/customer-cloud">Customer Cloud</a></a></li>
					</ul>
				</section>
				<section class="sub-nav__section is-wide">
					<h2 class="sub-nav__heading">Management Apps</h2>
					<ul>
						<li><a href="/products/unified-admin-console">Unified Admin Console</a></li>
						<li><a href="/products/dashboard">Dashboard</a></li>
						<li><a href="/products/personalisation">Personalisation<!-- ed Experience and Guided Search --></a></li>
						<li><a href="/products/product">Product</a></li>
						<li><a href="/products/promote">Promote</a></li>
						<li><a href="/products/order">Order</a></li>
						<li><a href="/products/service">Service</a></li>
						<li><a href="/products/customer">Customer</a></li>
						<li><a href="/products/outlet">Outlet</a></li>
						<li><a href="/products/user">User</a></li>
						<li><a href="/products/report">Report</a></li>
					</ul>
				</section>
				<section class="sub-nav__section">
					<h2 class="sub-nav__heading">Services</h2>
					<ul>
						<li><a href="/products/import-api">Import API</a></li>
						<li><a href="/products/export-api">Export API</a></li>
						<li><a href="/products/rest-api">REST API</a></li>
					</ul>
				</section>
			</div>
		</div>
	</div>
</header>
