{% extends "layouts/base.html" %}
{% block page %}
{% include "includes/hero-prefetch.html" %}
<div id="{{ page.metadata.hero | filename }}" class="hero hero--poster">
	<div class="content-wrap">
		{% block hero %}
			<div class="hero__text-left--tight">
				<h1>Commerce Infrastructure<br />for the internet</h1>
				<p>Built to scale and built to be fast - the best commerce experience with the lowest possible latency. API driven commerce, delivered everywhere. Welcome to the post-browser era.</p>
			</div>
		{% endblock %}
	</div>
</div>
<aside class="featured panel">
	<div class="content-wrap content-wrap--narrow">
		<div class="featured__inner">
			{% block featured %}{% include "includes/pub-buying-club-feature.html" %}{% endblock %}
		</div>
	</div>
</aside>

<main>
	<div class="page-body">
		<div class="content-wrap">
			<section>
				<h2 class="centred" style="margin-bottom: 9px">APIs to Build All Your Commerce Experiences</h2>
				<div class="page-body__inner">
					<div class="page-body__primary">
						<p class="tagline" style="margin: 0">Clean, composable and complete APIs can handle your company’s needs - from building a search feature for your website to powering marketplaces and everything in between. Big Wednesday IO gives you the flexibility to build your applications your way regardless of use case or industry.</p>
					</div>
					<div class="page-body__secondary pad-for-line-height">
						{% include "includes/rest-api-graphic.html" %}
					</div>
				</div>
			</section>

			<section class="centred">
				<h2>Commerce Personalisation for Platforms</h2>
				<p class="tagline">Personalise everything, everywhere. Marketplaces and platforms can use the Big Wednesday IO Cloud Platform to let sellers give their customers unique, personalised commerce experiences.</p>
			</section>
		</div>
	</div>

	<section class="page-body panel">
		<div class="content-wrap">
			<div class="integrations">
				<a class="integration">
					<img src="{{assets}}/images/magento.png" alt="Magento" />
				</a>
				<a class="integration">
					<img src="{{assets}}/images/shopify.png" alt="Shopify" />
				</a>
				<a class="integration">
					<img src="{{assets}}/images/woocommerce.png" alt="WooCommerce" />
				</a>
				<a class="integration">
					<img src="{{assets}}/images/stripe.png" alt="Stripe" />
				</a>
			</div>
		</div>
	</section>

	<section>
		<img class="prefetch" src="{{ assets }}/images/hero--pbc.jpg" alt="" height="0" width="0" />
		<div class="hero hero--poster" style="background-image: url({{ assets }}/images/hero--pbc.jpg)">
			<div class="content-wrap">
				<div class="hero__text-left">
					<h2>Fixing <em>Enterprise Software</em>, One Application at a Time</h2>
					<p>Big Wednesday IO provides the building blocks and tools enabling you to create rapidly powerful commerce applications</p>
				</div>
			</div>
		</div>
	</section>

	<section class="page-body">
		<div class="content-wrap">
			<div class="centred">
				<h2>Feature-packed commerce</h2>
				<p class="tagline">A flexible set of tools and functionality for modern commerce.</p>
			</div>

			<ul class="grid-list grid-list--full">
				<li class="media-item">
					<div class="media-item__icon">
						<svg height="28" width="28">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#toolkit"></use>
						</svg>
					</div>
					<div class="media-item__text">
						<h3 class="media-item__title">Powerful toolkit</h3>
						<p class="media-item__preview">Works with any type of business</p>
					</div>
				</li>
				<li class="media-item">
					<div class="media-item__icon">
						<svg height="28" width="28">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#timer"></use>
						</svg>
					</div>
					<div class="media-item__text">
						<h3 class="media-item__title">Perfectly scaled</h3>
						<p class="media-item__preview">Robust support for companies of all sizes</p>
					</div>
				</li>
				<li class="media-item">
					<div class="media-item__icon">
						<svg height="28" width="28">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#safe"></use>
						</svg>
					</div>
					<div class="media-item__text">
						<h3 class="media-item__title">Seamless security</h3>
						<p class="media-item__preview">Trusted, secure and headache-free</p>
					</div>
				</li>
			</ul>
		</div>
	</section>
</main>
{% endblock %}
