{% extends "layouts/solution.html" %}

{% set hero_style = "hero--poster" %}

{% set orderableData = contents.data["orderable.json"].metadata %}

{% block hero %}
	<div class="text-wrap">
		<div class="logo-header">
			<div class="logo-header__text">
				<h1 itemprop="name"><img src="{{ assets }}/images/orderable-logo-white.png" alt="{{ page.metadata.title }}" height="54" width="240" /></h1>
				<p itemprop="description">{{ page.metadata.tagline }}</p>
			</div>
		</div>
	</div>
{% endblock %}

{% block pagebody %}
<main itemprop="description">
	<div class="page-body">
		<div class="content-wrap">
			<div class="text-wrap centred">
				<h2>Why</h2>
				<p class="tagline">Orderable is a cloud platform that connects buyers to suppliers</p>
			</div>

			<div class="markdown text-wrap first-two-bold">
				{{ page.html }}
			</div>
		</div>
	</div>

	<div id="how-it-works" class="hero" style="background-image: url('/assets/images/hero--flatwhite.jpg'); padding: 8rem 0;">
		<div class="content-wrap centred">
			<h2 style="margin-top: 0">How it works</h2>
			<p>Everything you need from your favourite suppliers in one place</p>
		</div>
	</div>

	<div class="page-body">
		<div class="content-wrap centred">
			<ul class="grid-list grid-list--full" style="margin-top: 3em;">
				{% for item in orderableData["how-it-works"] %}
					{% include "includes/media-item--vertical.html" %}
				{% endfor %}
			</ul>
		</div>
	</div>

	<div id="the-features" class="hero" style="background-image: url('/assets/images/hero--flatwhite-2.jpg')">
		<div class="content-wrap centred">
			<h2 style="margin: 0; padding: .8em 0 1.2em;">The features</h2>
			<ul class="grid-list grid-list--full grid-list--centred">
				{% for item in orderableData.features %}
					{% include "includes/media-item--vertical.html" %}
				{% endfor %}
			</ul>
		</div>
	</div>

	<div id="suppliers" class="panel" style="padding: 1em 1em 4em; margin: 0 0 1em;">
		<div class="content-wrap centred">
			<h2>Suppliers</h2>
			<p class="tagline">We’re here to make it easy for you to join the network</p>
			<ul class="grid-list grid-list--full grid-list--centred">
				{% for item in orderableData.suppliers %}
					{% include "includes/media-item--vertical.html" %}
				{% endfor %}
			</ul>
		</div>
	</div>

	<div class="page-body">
		<div class="content-wrap">
			<div class="text-wrap centred">
				<h2 id="pricing-plans">Pricing plans</h2>
				<p class="tagline" style="margin-bottom: 0">No hidden costs or surprises. Cancel or change your plan at any time.</p>
			</div>
		</div>
	</div>
	
	<div class="content-wrap">
		<ol class="pricing panel">
			{% for plan in contents.data['pricing-plans.json'].metadata %}
				<li class="pricing__option {% if plan.name == 'Standard' %}pricing__option--featured{% endif %} plan">
					<span class="plan__price">{{ plan.price }}</span>
					<del class="plan__price plan__price--was">{{ plan.was_price}}</del>
					<h3 class="plan__name">{{ plan.name }}</h3>

					{#
					<div class="plan__actions">
						<a class="button--primary">Buy now</a>
						<a>Free trial</a>
					</div>
					#}

					<ul class="plan__features">
						{% if plan.orders_desc %}
							<li>{{ plan.orders_desc }}</li>
						{% else %}
							<li class="active">Unlimited orders</li>
						{% endif %}
						<li class="active">Unlimited users</li>
					</ul>

					<ul class="plan__features">
						<li>Unlimited free 24/7 support</li>
						<li>Export data to Excel, Sheets or CSV</li>
						<li>No setup fees or contracts</li>
						<li>Automatic secure backups</li>
						<li>Highest level SSL security encryption</li>
						<li>Free iPhone and Android apps</li>
					</ul>
				</li>
			{% endfor %}
		</ol>

	</div>

	<div class="page-body">
		<div class="content-wrap">
			<p>*Limited offer - 50% off for six months when you buy now</p>
			<div class="centred text-wrap">
				<h2>30-day free trial</h2>
				<p class="tagline">Try every feature, add unlimited users, no credit card required.</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
