{% extends "layouts/default.html" %}

{% set sections = contents.data['products.json'].metadata %}

{% block content %}
	{% for section in sections %}
		<section class="media-group" itemscope itemtype="http://schema.org/SomeProducts">
			<h2 id="{{ section.name | lower | replace(' ', '-') }}" class="media-group__heading" itemprop="category">{{ section.name }}</h2>
			<ul class="media-group__listing">
				{% for product in section.products %}
					<li itemscope itemtype="http://schema.org/Product">
						<meta itemprop="category" content="{{ section.name }}" />
						<a href="{{ product.href }}" class="media-item media-item--highlight" itemprop="url">
							<div class="media-item__icon">
								<svg height="28" width="28" itemprop="logo">
									<use xlink:href="#{{ product.icon }}"></use>
								</svg>
							</div>
							<div class="media-item__text">
								<h3 class="media-item__title" itemprop="name">{{ product.name }}</h3>
								{% if product.description %}<p class="media-item__preview" itemprop="description">{{ product.description }}</p>{% endif %}
							</div>
						</a>
					</li>
				{% endfor %}
			</ul>
		</section>
	{% endfor %}
{% endblock %}

{% block aside %}
<ul class="section-nav">
	{% for section in sections %}
		<li class="section-nav__item"><a class="section-nav__link" href="#{{ section.name | lower | replace(' ', '-') }}">{{ section.name }}</a></li>
	{% endfor %}
</ul>
{% endblock %}
