{% extends "layouts/default.html" %}

{% set sections = contents.data['products.json'].metadata %}

{% block content %}
	{% for section in sections %}
		<section class="media-group">
			<h2 id="{{ section.name | lower | replace(' ', '-') }}" class="media-group__heading">{{ section.name }}</h2>
			<ul class="media-group__listing">
				{% for product in section.products %}
					<li class="media-item">
						<div class="media-item__icon">
							<svg height="28" width="28">
								<use xlink:href="#{{ product.icon }}"></use>
							</svg>
						</div>
						<div class="media-item__text">
							<h3 class="media-item__title">{{ product.name }}</h3>
							{% if product.description %}<p class="media-item__preview">{{ product.description }}</p>{% endif %}
						</div>
					</li>
				{% endfor %}
			</ul>
		</section>
	{% endfor %}
{% endblock %}

{% block aside %}
<ul class="section-nav">
	{% for section in sections %}
		<li class="section-nav__item"><a class="section-nav__link" href="#{{ section.name | lower | replace(' ', '-') }}">{{ section.name }}</a></li>
	{% endfor %}
</ul>
{% endblock %}
