{% extends "layouts/solution.html" %}

{% set hero_style = 'hero--poster' %}

{% block hero %}
<div class="hero__text-left">
	<div class="logo-header">
		<span class="logo-header__icon">
			<img src="{{ assets }}/images/{{ page.metadata.logo }}" alt="{{ page.metadata.title }} Logo" itemprop="logo" itemprop="image" />
		</span>
		<div class="logo-header__text">
			<h1 itemprop="name">{{ page.metadata.title }}</h1>
			<p itemprop="description">{{ page.metadata.tagline }}</p>
		</div>
	</div>
</div>
{% endblock %}

{% set features = contents.data['pub-buying-club-features.json'].metadata %}

{% block content %}
<div class="markdown">
	{{ page.html }}
</div>

<ul{# class="left-and-right-content"#}>
	{% for feature in features %}
		<li class="markdown">
			<div class="text-wrapper">
				<h3>{{ feature.name }}</h3>
				<p>{{ feature.description }}</p>
			</div>
			{# <div class="image-wrapper">
				<img src="{% if feature.image %}{{ assets }}/images/{{ feature.image }}{% else %}//placehold.it/350x250{% endif %}" alt="" />
			</div> #}
		</li>
	{% endfor %}
</ul>

{% endblock %}
