{% extends "layouts/default.html" %}

{% block content %}
<section class="media-group" style="display: none;">
	<h2 class="media-group__heading">Products</h2>
	<ul id="products" class="media-group__listing search-results-container"></ul>
</section>

<section class="media-group" style="display: none;">
	<h2 class="media-group__heading">Pages</h2>
	<ul id="pages" class="media-group__listing search-results-container"></ul>
</section>
{% endblock %}

{% block aside %}
<!-- Something /-->
{% endblock %}