{% extends "layouts/default.html" %}

{% block hero %}
<h1>Why Commerce Cloud Platform for B2B</h1>
<p>Our Commerce Cloud Platform for B2B provides the building blocks that allow us to rapidly create powerful commerce applications for any industry helping you reduce operating costs, gain business value quickly and enable rapid business transformations and growth.</p>
{% endblock %}

{% block header %}
<h2>Features</h2>
{% endblock %}

{% block content %}
<ul class="grid-list info-grid">
	<li>
		<h3 class="icon-header">
			<svg class="icon-header__icon" height="32" width="32"><use xlink:href="#image-filter-center-focus"></use></svg>
			<span class="icon-header__text">Build Unique Experiences</span>
		</h3>
		<p>Use our apps and services to deliver personalised customer experiences - placing the right products and promotions in front of highly qualified buyers.</p>
	</li>
	<li>
		<h3 class="icon-header">
			<svg class="icon-header__icon" height="32" width="32"><use xlink:href="#line-chart"></use></svg>
			<span class="icon-header__text">Increase Your Users’ Engagement</span>
		</h3>
		<p>Your customers and your employees expect fast access to what they’re looking for and quick and efficient order placement experiences. Meet their expectations with our apps and services.</p>
	</li>
	<li>
		<h3 class="icon-header">
			<svg class="icon-header__icon" height="32" width="32"><use xlink:href="#package-variant"></use></svg>
			<span class="icon-header__text">Mix and Match</span>
		</h3>
		<p>Take your pick from our growing family of granular public microservices and modern intuitive apps to quickly enable the commerce features your business needs.</p>
	</li>
	<li>
		<h3 class="icon-header">
			<svg class="icon-header__icon" height="32" width="32"><use xlink:href="#chart-pie"></use></svg>
			<span class="icon-header__text">Advanced Analytics</span>
		</h3>
		<p>We track all your customers’ interactions to give you insight into their behaviours and to qualify them for the most suitable products and promotions.</p>
	</li>
	<li>
		<h3 class="icon-header">
			<svg class="icon-header__icon" height="32" width="32"><use xlink:href="#tablet-ipad"></use></svg>
			<span class="icon-header__text">Beautiful Everywhere</span>
		</h3>
		<p>We are obsessive about all of our products looking great on all devices, from desktop to tablets to smartphones.</p>
	</li>
	<li>
		<h3 class="icon-header">
			<svg class="icon-header__icon" height="32" width="32"><use xlink:href="#xml"></use></svg>
			<span class="icon-header__text">Built by developers for developers</span>
		</h3>
		<p>Forget complexity: our hosted API, intuitive documentation and comprehensive dashboard allow developers to build in no time the best experiences for your users.</p>
	</li>
	<li>
		<h3 class="icon-header">
			<svg class="icon-header__icon" height="32" width="32"><use xlink:href="#arrow-expand"></use></svg>
			<span class="icon-header__text">Scales to meet your needs</span>
		</h3>
		<p>Our apps and services are capable of processing billions of operations per month.</p>
	</li>
	<li>
		<h3 class="icon-header">
			<svg class="icon-header__icon" height="32" width="32"><use xlink:href="#tachometer"></use></svg>
			<span class="icon-header__text">Performance you can count on</span>
		</h3>
		<p>Every millisecond of latency matters, our infrastructure gives you consistent CPU, memory and disk performance. Our network and edge cache serve responses rapidly to your users.</p>
	</li>
	<li>
		<h3 class="icon-header">
			<svg class="icon-header__icon" height="32" width="32"><use xlink:href="#life-ring"></use></svg>
			<span class="icon-header__text">Passionate Support</span>
		</h3>
	</li>
</ul>
{% endblock %}

{% block aside %}
<div class="savings-graph">
	<div class="savings-graph__old">Old cost (100%).</div>
	<div class="savings-graph__new">
		<div class="savings-graph__reduction">Reduced by up to 75%.</div>
		<div class="savings-graph__cost" style="width: 25%;">New cost as little as 25%.</div>
	</div>
	<div class="savings-graph__tagline">Lower hosting costs by up to <strong class="savings-graph__tagline__key-point">75%</strong></div>
</div>

<div class="savings-graph">
	<div class="savings-graph__old">Old cost (100%).</div>
	<div class="savings-graph__new">
		<div class="savings-graph__reduction">Reduced by up to 95%.</div>
		<div class="savings-graph__cost" style="width: 5%;">New cost as little as 5%.</div>
	</div>
	<div class="savings-graph__tagline">Cut your deployment time by up to <strong class="savings-graph__tagline__key-point">95%</strong></div>
</div>
{% endblock %}
